body {
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(104, 38, 18, 0.582)
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: darkgoldenrod;
    text-align: center;
}

.lists {
    background: bisque;
    max-width: 400px;
}

.lists h3 {
    text-align: center;
}

.paragraphs {
    background: rgb(249, 210, 165);
    width: 600px;
    height: 350px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4%;
}

table {
    background: hsl(19, 49%, 68%);
    width: 20cm;
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed'
}

pre {
    text-align: left;
    padding: 10mm;
    background: #F7DFBC;
    height: 100pt
}